Source: nikola
Section: python
Priority: optional
Maintainer: Agustin Henze <tin@debian.org>
Uploaders: Ulises Vitulli <dererk@debian.org>
Build-Depends:
 debhelper (>= 9),
 dh-python,
 bash-completion,
 python-all,
 python-setuptools,
 python-docutils,
 python-blinker,
 python-lxml,
 python-yapsy (>= 1.11.223-1),
 python-logbook,
 python-doit,
 python-unidecode,
 python-pyrss2gen,
 python-mako,
 python-pygments,
 python-imaging,
 python-natsort,
 python-dateutil,
 python-requests (>= 2.2.0)
Standards-Version: 3.9.6
X-Python-Version: >= 2.7
Homepage: http://getnikola.com/
Vcs-Git: git://anonscm.debian.org/collab-maint/nikola.git
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=collab-maint/nikola.git

Package: nikola
Architecture: all
Depends:
 ${python:Depends},
 ${misc:Depends},
 python-doit,
 python-pygments,
 python-imaging,
 python-docutils,
 python-mako,
 python-unidecode,
 python-lxml,
 python-yapsy,
 python-pyrss2gen,
 libjs-jquery,
 libjs-jquery-colorbox,
 libjs-twitter-bootstrap,
 libjs-bootstrap,
 libjs-imagesloaded,
Recommends:
 python-webassets,
 python-requests,
 python-typogrify,
 python-livereload,
Suggests:
 python-jinja2,
 python-feedparser,
 ipython,
 bpython,
 python-markdown,
 python-misaka,
 pandoc,
 python-textile,
 python-creoleparser,
 txt2tags,
 node-less,
 python-pygal
Description: simple yet powerful and flexible static website and blog generator
 Nikola is a static site and blog generator. Feed information to it on one
 side and get a ready-to-deploy website on the other.
 .
 Nikola goodies on generating static pages are, between others, that:
  * Static websites are safer, no database nor dynamic code interpreter needed
  * They use fewer resources
  * You avoid vendor and platform lockin.
 .
 Between some of Nikola's features you may find:
    * Blog generator, including tags, feeds, archives, comments, etc.
    * Theme support
    * Fast building process, thanks to doit
    * Easy Image Gallery, just drop files in a folder!
    * reStructuredText or Markdown as Input languages
    * Flexible design
    * Small codebase.
    * Syntax highlighting for almost any programming language or markup
    * Multi-language sites
    * Small, since based on leverages existing tools
    * Between others
